<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Candidate ID</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/UserAuthentication/login.css" />
    <link rel="icon" href="/Favicon/ImageAI-522x425.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Header -->
    <section id="header">
      <header class="header_area">
        <div class="main-menu">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
              <img src="/img/epeLogo.gif" width="auto" height="80px" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/" data-after="Home">Home </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    </section>

    <!-- Get Candidate ID Form -->
    <section class="home show">
      <div class="form_container">
        <div class="form login_form">
          <form id="getCandidateIdForm">
            <h2>Get Candidate ID</h2>
            <!-- Phone -->
            <div class="input_box">
              <input
                type="text"
                id="phone"
                name="phone"
                placeholder="Enter your phone number"
                required
              />
              <i class="uil uil-phone-alt"></i>
            </div>
            <!-- Send OTP Button -->
            <button class="button" id="send-otp-btn-id">Send OTP</button>
            <div class="login_signup">
              <a href="/user/auth/login">Login</a>
            </div>
          </form>
        </div>
      </div>
    </section>

    <script src="/js/UserAuthentication/getCandidateId.js"></script>
    <script src="/js/Utils/utils.js"></script>
  </body>
</html>
