<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/UserAuthentication/otpVerify.css" />
    <link rel="stylesheet" href="/css/Header/header.css"/>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="icon" href="/Favicon/ImageAI-522x425.ico" type="image/x-icon">
  </head>
  <body>
    <!-- Header -->
    <section id="header">
      <header class="header_area">
        <div class="main-menu">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
              <img src="/img/epeLogo.gif" width="auto" height="80px" alt="" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/" data-after="Home">Home </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    </section>

    <!-- OTP Form -->
    <section class="home show">
      <div class="form_container">
        <div class="form otp_form">
          <form action="#">
            <h2>OTP Verification</h2>
            <div class="input_box">
              <input
                type="text"
                placeholder="Enter Email OTP"
                required
                maxlength="6"
              />
              <i class="uil uil-envelope-alt"></i>
            </div>
            <div class="input_box">
              <input
                type="text"
                placeholder="Enter Phone OTP"
                required
                maxlength="6"
              />
              <i class="uil uil-phone-alt"></i>
            </div>
            <button class="button" id="otp-submit">Submit OTP</button>
          </form>
        </div>
      </div>
    </section>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/UserAuthentication/otpVerify.js"></script>
    <script src="/js/Utils/utils.js"></script>
  </body>
</html>
