<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="/css/UserAuthentication/signUp.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!-- Signup Form -->
    <section class="home show">
        <div class="form_container">
            <div class="form signup_form">
                <form id="registrationForm" action="#">
                    <h2>Signup</h2>
                    <!-- Name -->
                    <div class="input_box">
                        <input type="text" id="name" name="name" placeholder="Full Name" required>
                        <i class="uil uil-user-alt"></i>
                    </div>
                    <!-- Phone -->
                    <div class="input_box">
                        <input type="tel" id="phone" name="phone" placeholder="Enter your Phone Number" required minlength="10" maxlength="10"
                        oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10);"/>
                        <i class="uil uil-phone-alt"></i>
                    </div>
                    <!-- Email -->
                    <div class="input_box">
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope-alt"></i>
                    </div>
                    <!-- Password -->
                    <div class="input_box">
                        <input type="password" id="password" name="password" placeholder="Create password" required>
                        <i class="uil uil-lock"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>
                    <!-- Confirm Password -->
                    <div class="input_box">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
                        <i class="uil uil-lock"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>
                    <button class="button" id="signup-button">Signup Now</button>
                    <div class="login_signup">Already have an account? <a href="/user/auth/login">Login</a></div>
                </form>
            </div>
        </div>
    </section>

    <script src="/js/UserAuthentication/signUp.js"></script>
</body>
</html>
