<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E Pe Carrer</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/career/tstyle.css">


</head>

<body>
    <section>
    <div class="container">
      <div class="card">
        <div class="content">
            <div class="imgBx"> <img src="User1.jpg"> </div>
            <div class="contentBx">
                <h3>Full Stack <br><span>Developer</span></h3>
            </div>
        </div>
      
      <ul class="sci">
        <li style="--i:1">
            <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">   
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
      </ul> 
      </div>
      

      <div class="card">
        <div class="content">
            <div class="imgBx"> <img src="User2.jpg"> </div>
            <div class="contentBx">
                <h3>Full Stack <br><span>Developer</span></h3>
            </div>
        </div>
    
      <ul class="sci">
        <li style="--i:1">
            <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">   
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
      </ul> 
      </div>
    
      <div class="card">
        <div class="content">
            <div class="imgBx"> <img src="User3.jpg"> </div>
            <div class="contentBx">
                <h3>Full Stack <br><span>Developer</span></h3>
            </div>
        </div>
      
      <ul class="sci">
        <li style="--i:1">
            <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
        </li>
        <li style="--i:2">   
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li style="--i:3">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
      </ul> 
     </div>
     </div>
    </section>  
</body>

</html>