<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/css/privacyPolicy.css" />
    <link rel="icon" href="/Favicon/ImageAI-522x425.ico" type="image/x-icon" />
  </head>

  <body>
    <!-- Header Section -->
    <section id="header">
      <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/">
            <img src="/img/epeLogo.gif" width="auto" height="80px" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" data-after="Home">Home</a>
              </li>
              <!-- Add more links here as needed -->
            </ul>
          </div>
        </nav>
      </header>
    </section>

    <!-- Main Content Section -->
    <main>
      <div class="privacy-policy">
        <h2>Privacy Policy</h2>
        <p>
          The following is the privacy policy statement of Techfin Innovations
          Private Limited. Collectively or separately, “E PE”, “we”, “our”, “us”
          refers to Techfin Innovations Private Limited and sets forth our
          policies & practices in connection with personal data that we collect
          through our website, and any mobile or web-based sites, applications,
          sales executives, physical or digital forms, or other mobile
          interactive features. "You", "your" refers to you as an individual/
          employee/ owner and/or the company or organization you represent and
          are legally authorized to take business and financial decisions for in
          dealing with E PE and its authorized third-party vendors.
        </p>
      </div>
      <div class="privacy-section">
        <h3>Personally Identifiable Information</h3>
        <p>
          Personal data is any information that can be used to identify you as a
          person, such as your name, mailing address, email address, age range,
          and so on. Personal information is only collected when you willingly
          offer it to us. Personal data is collected so that we can better
          understand your requirements and interests and provide you with better
          service when we reach out to you through digital or non-digital
          mediums of contact including but not limited to emails, phone calls,
          social media websites and applications, mobile chat applications,
          direct messenger services, and so on.
        </p>
        <p>
          In general, E PE does not collect personally identifiable information,
          except as set forth below. For purposes of this Privacy Policy,
          “personally identifiable information” is data intended to be used to
          identify, contact, or locate a person, including name, address,
          telephone number, mobile phone number, photograph, signature,
          citizenship, mailing address, company address, residential address,
          personal code, credit card information (required only in case payment
          is to be made to Techfin Innovations Private Limited), identification
          documents, source of funds, proof of funds, driving license, sex, age,
          email address, industry, your website or URL, information collected
          automatically, information received through third-parties and vendors,
          and any other information (even if non-personally identifiable)
          provided in combination with such personally identifiable information.
        </p>
        <p>
          If you correspond with us by email, we may retain the content of your
          email messages, your email address, and our responses. We may also
          retain any messages or other content you send through or post on E
          PE’s website.
        </p>
        <p>
          The advertisements we deliver may offer the ability to interact,
          including filling a survey or viewing a video. The ad may also give
          you the opportunity to provide the advertiser with information about
          yourself. In some instances, if you choose to interact with an
          advertisement or provide an advertiser with information about
          yourself, E PE may collect information on behalf of the advertiser. In
          that case, the advertiser’s privacy policy would apply to the data
          collected, and we will abide by the instructions given to us by the
          advertiser in our handling of the data. The publisher will not
          associate any information (non-personally identifiable or personally
          identifiable) we collect for an advertiser with any other information
          we may have collected about you through the publisher’s websites.
        </p>
        <p>
          E PE may record information about your transactions with us and/or our
          business partners and combine such information with information about
          you in our possession. This information might include information
          necessary to process payments, such as billing information and your
          bank account information.
        </p>
        <p>
          If you would like any of this information deleted, please email
          <a href="mailto:care@epeindia.in">care@epeindia.in</a> with your name
          and email and all information will be deleted.
        </p>
      </div>
      <div class="privacy-section">
        <h3>Non-Personally Identifiable Information</h3>
        <p>
          When you visit E PE’s website, E PE or third parties such as
          advertisers, third-party advertising networks, third-party advertising
          serving companies, and E PE’s business partners, vendors, and service
          providers may collect non-personally identifiable information. For
          purposes of this Privacy Policy, “non-personally identifiable
          information” is data that is not personally identifiable. E PE and
          these third parties may implement certain technologies to enable the
          collection of such information. An explanation of these technologies
          is below.
        </p>
        <h4>Cookies Information:</h4>
        <p>
          When you visit E PE’s websites, we may send one or more cookies—a
          small text file containing a string of alphanumeric characters—to your
          computer that uniquely identifies your browser and allows E PE to help
          you log in faster and enhance your navigation through the site. A
          cookie may also convey information about how you browse E PE’s
          website. E PE uses session, persistent, flash, and browser cookies.
          The use of cookies on E PE’s websites is anonymous and does not allow
          us to gather personally identifiable information about you. A
          persistent cookie remains on your hard drive after you close your
          browser. Persistent cookies may be used by your browser on subsequent
          visits to the site. Persistent cookies can be removed by following
          your web browser’s directions. A session cookie is temporary and
          disappears after you close your browser. You can set your web browser
          to refuse all cookies or to indicate when a cookie is being sent.
          However, some features of E PE’s websites may not function properly if
          the ability to accept cookies is disabled.
        </p>
        <h4>Location Data:</h4>
        <p>
          When you access E PE’s websites by or through a mobile device, we may
          access, collect, monitor and/or remotely store “location data,” which
          may include GPS coordinates (e.g., latitude and/or longitude) or
          similar information regarding the location of your mobile device.
          Location data may convey information to us about how you browse E PE’s
          website. Location data does not collect or share any personally
          identifiable information about you. However, location data may be used
          in conjunction with other information in a manner that may constitute
          personally identifiable information. Some features of E PE’s websites,
          particularly location-based services, may not function properly if the
          use or availability of location data is impaired or disabled.
        </p>
        <h4>Web Beacons/Click-Stream Data:</h4>
        <p>
          A web beacon is an electronic file that signals when a webpage,
          advertisement, video, other content, an email, or a newsletter has
          been viewed. We may use web beacons in our emails and newsletters, or
          on our websites and services. E PE may use web beacons in conjunction
          with cookies to collect click-stream data that helps us better
          understand how visitors move from page to page within our websites. As
          with cookies, our use of web beacons is anonymous and does not allow
          us to gather personally identifiable information about you.
        </p>
        <h4>Passive Browser Information:</h4>
        <p>
          E PE collects passive browser information through its web servers. We
          use the passive browser information to help us understand how many
          visitors come to our websites and where they come from, and ultimately
          to help us make decisions about how to organize the websites and
          deliver advertising.
        </p>
        <h4>Demonstrations:</h4>
        <p>
          E PE periodically offers visitors to its websites the ability to see
          demonstrations of services offered by E PE. If you elect to view
          demonstrations, we may collect non-personally identifiable information
          in connection with the demonstration of the relevant service. Our
          collection, storage, and use of non-personally identifiable
          information in connection with such demonstrations are subject to this
          Privacy Policy.
        </p>
        <h4>Log File Information:</h4>
        <p>
          Log file information is automatically reported by your browser each
          time you access a web page. When you use E PE’s websites, our servers
          automatically record certain log file information. These server logs
          may include information such as your web request, Internet Protocol
          (“IP”) address, browser type, referring / exit pages and URLs, number
          of clicks, domain names, landing pages, pages viewed, data about how
          you interact with links on E PE’s websites, and other such
          information. We may display your IP address to the owners or
          maintainers of certain blogs, groups, or communities if you post to
          those blogs, groups, or communities and the owner or maintainer has
          enabled functionality for this purpose.
        </p>
        <h4>Scripts:</h4>
        <p>
          A script is a short segment of computer code included in a web page or
          other content that can be used to set and access a cookie on your
          computer’s hard drive and to record your activity on a website. E PE
          may use scripts on E PE’s website, on third-party websites, or in our
          emails and newsletters.
        </p>
        <h4>Third-Party Data Providers:</h4>
        <p>
          E PE may supplement the information it collects with other
          non-personally identifiable information provided by third-party data
          providers. The information provided may include estimates of your age,
          gender, and your interests but does not include personally
          identifiable information.
        </p>
        <h4>Other Third-Party Service Providers:</h4>
        <p>
          In connection with our services, E PE may engage third parties to
          provide services or to support aspects of our business on our behalf.
          In connection with those relationships, such third parties may collect
          data on our behalf. In that case, the third party would only collect
          and use such information as instructed by us and in accordance with
          this Privacy Policy.
        </p>
        <h4>Third-Party Use of Technologies:</h4>
        <p>
          Third parties may set and access their own cookies, use their own web
          beacons, and use their own scripts on and through E PE’s websites, on
          and through third-party websites, or in and through our emails and
          newsletters. How other companies use their own cookies, web beacons,
          and scripts, and the information they gather is subject to those
          companies’ privacy policies, not this Privacy Policy.
        </p>
      </div>

      <div class="usage-data">
        <h3>Usage of Data</h3>
        <p>
          You might have to provide us with your personal information or
          identification for the opening, verification or continuation of your
          or your organization's accounts and our services related to that
          account as per the business dealing between both parties.
        </p>
        <p>
          If the above stated personal information or identification is not
          provided, it may result in the discontinuation of your account and
          services related to it.
        </p>
        <p>
          Your personal data might also be used to contact you for offering
          other business-related products and services.
        </p>
        <p>Third-parties might get your personal data from us in case of:</p>
        <ul>
          <li>Verification of your credit worthiness.</li>
          <li>Customizing our products and services to your requirements.</li>
          <li>For our business needs and processes.</li>
          <li>Credit assessment.</li>
          <li>Your financial status.</li>
          <li>
            For marketing through direct or digital mediums to you and sending
            your promotional material. Including but not limited to phone calls,
            emails, direct messages, web and app-based chat, videos, webinars,
            social media reach-outs and so on.
          </li>
          <li>
            For marketing for you, as stipulated in the business agreement
            between E PE and your organization.
          </li>
          <li>
            Administering or imposition of your business obligations and
            outstanding amounts if any.
          </li>
          <li>Our compliance with our obligations to you.</li>
          <li>For amendment of laws applicable to or binding us.</li>
          <li>
            To comply with the law of the land of any government, legal, tax,
            regulatory authority or any industrial authority, self-regulatory
            body and the financial service providers regulations that apply to
            us now and in the future.
          </li>
          <li>
            To adhere to any fidelity or contractual obligation, present or in
            the future, with local or foreign legal, law enforcement regulatory,
            tax, governmental, or other authorities, or self-regulatory or
            industry bodies or associations of financial services providers that
            is assumed by or imposed on us as a result of our financial,
            commercial, business, or other interests or activities in or related
            to the jurisdiction of the relevant local or foreign legal,
            regulatory, governmental, tax, law enforcement, or other
            authorities, or self-regulatory or industry bodies or associations
            of financial services providers.
          </li>
          <li>
            Adhering to any duties, rules, policies, procedures, measures, or
            agreements for data and information sharing inside our intragroup
            firms, subsidiaries, or affiliates, as well as any other use of data
            and information in line with any group policy.
          </li>
          <li>
            National programmes for sanctions compliance, as well as the
            prevention and detection of money laundering, terrorist financing,
            and other illegal activity.
          </li>
        </ul>
      </div>
      <div class="transfer-data">
        <h3>Transfer of Data</h3>
        <p>
          In the event that E PE sells, transfers or otherwise relinquishes all
          or part of our assets, business offerings, or services, including any
          of E PE’s websites, information that you have shared with E PE or that
          E PE has collected, including both personally identifiable information
          and non-personally identifiable information, may be one of the
          business assets that will be transferred. We may also transfer or
          assign such information in the course of corporate divestitures,
          mergers, or dissolution. The transferred information will remain
          subject to the terms of this Privacy Policy or those of subsequent
          policies to which you have consented.
        </p>
      </div>
      <div class="privacy-policy-principles">
        <h3>E PE Privacy Policy Principles</h3>
        <ul>
          <li>
            To collect, use, or disclose your personal data, we shall first seek
            your consent.
          </li>
          <li>
            We only collect personal information that we believe is relevant and
            required to help us run our business.
          </li>
          <li>
            We utilise your personal information to improve our products and our
            customer service.
          </li>
          <li>
            Your personal data may be sent to other parties, including E PE and
            our partner firms or agents, as recommended to you, worldwide, and
            as permitted by law, if you have given your consent. In compliance
            with the PDPA, any contracts with these third parties will include
            the appropriate provisions to secure the personal data that is being
            transmitted to them.
          </li>
          <li>
            If required by law, we may be required to reveal your personal
            information to governmental or judicial organisations or agencies,
            as well as our regulators.
          </li>
          <li>
            We will take reasonable steps to ensure that the personal
            information we have about you is correct and up to date.
          </li>
          <li>
            We make appropriate security arrangements to prevent unauthorised
            access, collection, use, disclosure, copying, alteration, or
            disposal of personal data in our possession or under our control.
          </li>
        </ul>
      </div>
      <div class="content-removal">
        <h3>Content Removal</h3>
        <p>
          E PE reserves the right, but has no obligation, to monitor the user
          content you post on any of E PE’s websites.
        </p>
        <p>
          We reserve the right to remove any such information or material for
          any reason or no reason, including without limitation if in our sole
          opinion such information or material violates, or may violate, any
          law, our Privacy Policy, or to protect or defend our rights or
          property or those of any third party.
        </p>
        <p>
          E PE also reserves the right to remove information upon the request of
          any third party.
        </p>
      </div>
      <div class="data-retention">
        <h3>Data Retention</h3>
        <p>
          Following termination or deactivation of any of E PE’s website
          accounts, E PE may retain your profile information and user content
          for a commercially reasonable time for backup, archival, or audit
          purposes. Furthermore, E PE may retain and continue to use
          indefinitely all information (including user content) contained in
          your communications to other users or posted to public or semi-public
          areas of E PE’s websites after termination or deactivation of your
          account.
        </p>
        <p>
          E PE retains the specific anonymous data collected and tied to your
          computer’s unique ID as described in this Privacy Policy for a certain
          period depending on the third-party analytics vendor being used. Such
          data may be aggregated and used for analytical purposes indefinitely.
        </p>
      </div>
      <div class="disclaimer">
        <h3>Disclaimer</h3>
        <p>
          Nothing on this website or in its contents is meant to give legal,
          data protection compliance, or other professional advice. We disclaim
          any liability for any loss resulting from reliance on the information
          or contents provided on this website. We are not responsible or liable
          for any matter relating to you or any third parties accessing or using
          this website and its contents, to the degree permitted by relevant
          laws.
        </p>
        <p>
          E PE retains copyright on all the text, contents, graphics and
          trademarks displayed on this website with the exception of client and
          third-party logos which are used for information and representation
          purposes only.
        </p>
        <p>
          The information on this site has been included in good faith and is
          for general purpose only and should not be relied upon for any
          specific purpose. The user shall not distribute text or graphics to
          others without the express written consent of E PE. The user shall
          also not, without E PE’s prior permission, copy and distribute this
          information on any other server, or modify or reuse text or graphics
          on this or any another system.
        </p>
        <p>
          Although E PE tries to ensure that all information and
          recommendations, whether in relation to the products, services,
          offerings or otherwise (hereinafter “information”), provided as part
          of this website is correct at the time of inclusion on the web site, E
          PE does not guarantee the accuracy of the Information. E PE makes no
          representations or warranties as to the completeness or accuracy of
          Information.
        </p>
        <p>
          Certain links in this site connect to other Web Sites maintained by
          third parties over whom E PE has no control. E PE makes no
          representations as to the accuracy or any other aspect of information
          contained in such other Web Sites.
        </p>
        <p>
          E PE hereby disclaims all warranties and conditions with regard to
          this information, including all implied warranties and conditions of
          merchantability, fitness for any particular purpose, title and
          non-infringement. In no event will E PE, its related partnerships or
          corporations, or the partners, agents or employees thereof be liable
          for any decision made by the user and/or site visitor for any
          inference or action taken in reliance on the information provided in
          this site or for any consequential, special or similar damages.
          Applicable Law and Jurisdiction of this Disclaimer are governed by and
          to be interpreted in accordance with laws of India, without regard to
          the choice or conflicts of law provisions of any jurisdiction. The
          user/site visitor agrees that in the event of any dispute arising in
          relation to this Disclaimer or any dispute arising in relation to the
          web site whether in contract or tort or otherwise, to submit to the
          jurisdiction of the courts located at New Delhi (India) only for the
          resolution of all such disputes.
        </p>
        <p>
          Except for the historical information herein, statement in this
          website, which includes words or phrases such as “will”, “aim”, “will
          likely result”, “would”, “believe”, “may”, “expect”, “will continue”,
          “anticipate”, “estimate”, “intend”, “plan”, “contemplate”, “seek to “,
          “future”, “objective”, “goal”, “likely”, “project”, “should”,
          “potential”, “will pursue”, and similar expressions or variations of
          such expressions may constitute “forward-looking statements”. These
          forward-looking statements involve a number of risks, uncertainties
          and other factors that could cause actual results to differ materially
          from those suggested by the forward-looking statements. These risks
          and uncertainties include, but are not limited to our liability to
          successfully implement our strategy, our growth and expansion plans,
          obtain regulatory approvals, our provisioning policies, technological
          changes, investment and business income, cash flow projections, our
          exposure to the market risks as well as other risks. The company does
          not undertake any obligation to update forward-looking statements to
          reflect events or circumstances after the date thereof.
        </p>
      </div>
      <div class="protect-info">
        <h3>How We Protect Your Information</h3>
        <p>
          E PE cares about the integrity and security of your personal
          information. We cannot, however, ensure or warrant the security of any
          information you transmit to E PE or guarantee that your information on
          E PE’s websites may not be accessed, disclosed, altered, or destroyed
          by breach of any of our physical, technical, or managerial safeguards.
          The transmittal of information from you to us is done at your own
          risk.
        </p>
        <p>
          To protect your privacy and security, we take reasonable steps (such
          as requesting a unique password) to verify your identity before
          granting you access to any accounts maintained on E PE’s websites. You
          are responsible for maintaining the secrecy of your unique password
          and account information, and for controlling access to your email
          communications from E PE, at all times.
        </p>
      </div>
      <div class="compromise-info">
        <h3>Compromise of Personal Information</h3>
        <p>
          In the event that personal information is compromised as a result of a
          breach of security, as soon as E PE gets information of such an event
          having occurred, E PE will promptly notify those persons whose
          personal information has been compromised, in accordance with the
          notification procedures set forth in this Privacy Policy, or as
          otherwise required by law.
        </p>
      </div>
      <div class="choices-about-info">
        <h3>Your Choices About Your Information</h3>
        <p>
          You may, of course, decline to submit personally identifiable
          information through the Service, in which case E PE may not be able to
          provide certain services to you. You may update or correct your
          account information and email preferences at any time by adjusting
          your account settings or contacting us at
          <a href="mailto:care@epeindia.in">care@epeindia.in</a>. You can review
          and correct the information about you that E PE keeps on file by
          contacting us directly at
          <a href="mailto:care@epeindia.in">care@epeindia.in</a>.
        </p>
        <p>
          If you do not want E PE to gather non-personally identifiable
          information when you encounter advertisements we deliver through E
          PE’s website, please click the opt-out link at the top of this Privacy
          Policy. The opt-out works by placing a flash cookie on your computer
          that notifies The Publisher that no other cookies should be placed on
          the applicable computer. If this cookie is deleted, then you will need
          to complete this opt-out process again. If you use more than one
          computer, you will need to complete this opt-out process on each
          computer that you use. The opt-out does not mean that you will no
          longer see online advertisements. It means only that advertisements
          delivered by E PE will not be targeted to you, based on information
          derived from cookies by E PE or its third-party vendors.
        </p>
        <p>
          You can also limit targeted advertising by configuring your browser’s
          settings or changing the management panel of the Adobe Flash Player to
          limit your acceptance of or delete cookies. Because the management of
          cookies in various browsers differs, you should consult the
          documentation for your browser in order to manage your cookies. In
          order to limit the acceptance of or disable “flash” cookies, you must
          access the management panel of the Adobe Flash Player installed on
          your computer. To learn more about the management panel of the Adobe
          Flash Player and the management of “flash” cookies, please access the
          following link:
          <a
            href="http://www.macromedia.com/support/documentation/en/flashplayer/help/index.html"
            target="_blank"
            >Adobe Flash Player Help</a
          >.
        </p>
        <p>
          You can also opt-out of receiving cookies from third-party data
          providers by following the instructions at:
          <a href="http://optout.networkadvertising.org/?c=1" target="_blank"
            >Network Advertising Opt-Out</a
          >. TRUSTe also provides you with ways to opt-out of behavioural
          tracking at:
          <a href="http://preferences-mgr.truste.com/" target="_blank"
            >TRUSTe Opt-Out</a
          >. You can opt-out of receiving cookies from Targusinfo, a specific
          third-party data provider, by following the instructions at:
          <a href="http://www.agkn.com/optout.html" target="_blank"
            >Targusinfo Opt-Out</a
          >.
        </p>
        <p>
          Also, because your choices are not associated with you as a particular
          individual, if you change computers, web browsers or cookie settings,
          you will need to reimplement your preferences as described above.
        </p>
        <p>
          Please note that if you limit or disable cookies, this does not mean
          that you will not see ads on E PE’s websites or social media websites.
          Instead, ads will be displayed that are based on passive browser
          information or other information that may be provided by E PE’s
          websites at the time of your visit.
        </p>
      </div>
      <div class="childrens-privacy">
        <h3>Children’s Privacy</h3>
        <p>
          Protecting the privacy of young children is especially important. E PE
          and its related websites are not structured to attract children. E PE
          does not knowingly collect or solicit personal information from anyone
          underage or knowingly allow such persons to register for any of E PE’s
          websites. If you are not of legal age, please do not access E PE’s
          website or send any information about yourself to us, including your
          name, address, telephone number, or email address.
        </p>
        <p>
          In the event that we learn that we have collected personal information
          from a child underage without verification of parental consent, we
          will delete that information as quickly as possible. If you believe
          that we might have any information from or about a child underage,
          please contact us at
          <a href="mailto:care@epeindia.in">care@epeindia.in</a>.
        </p>
      </div>
      <div class="links-to-other-websites">
        <h3>Links to Other Websites</h3>
        <p>
          We are not responsible for the practices employed by websites linked
          to or from E PE’s websites, nor the information or content contained
          therein.
        </p>
        <p>
          Please remember that when you use a link to go from within E PE’s
          websites to an outside website, our Privacy Policy is no longer in
          effect. You’re browsing and interaction on any other website,
          including those that have a link on E PE’s websites, is subject to
          that website’s own rules and policies.
        </p>
        <p>
          It should be assumed by readers that EVERY link on our website has a
          financial gain to E PE. EVERY mention of a company, person or website
          on the website has a financial gain to E PE. EVERY word written has in
          some way a financial gain to E PE. Basically, everything on the
          website has a financial gain to E PE in some way, shape or form.
        </p>
        <p>Please read over those rules and policies before proceeding.</p>
      </div>
      <div class="notification-procedures">
        <h3>Notification Procedures</h3>
        <p>
          It is our policy to provide notifications, whether such notifications
          are required by law or are for marketing or other business-related
          purposes, to you via email notice, written or hard copy notice, or
          through conspicuous posting of such notice on the applicable E PE
          website or service, as determined by E PE in its sole discretion. We
          reserve the right to determine the form and means of providing
          notifications to you, provided that you may opt out of certain means
          of notification as described in this Privacy Policy.
        </p>
      </div>
      <div class="governing-law">
        <h3>Governing Law</h3>
        <p>
          This Privacy Policy is created for E PE following the guidelines set
          by the Government of India. These policies may change from time to
          time and E PE tries its best to keep our policies updated. However, if
          you notice any inconsistencies, please write to us at
          <a href="mailto:care@epeindia.in">care@epeindia.in</a>.
        </p>
      </div>
      <div class="privacy-policy-changes">
        <h3>Changes to this Privacy Policy</h3>
        <p>
          E PE may modify or update this Privacy Policy at its sole discretion
          from time to time, and so you should review this Privacy Policy
          periodically. Changes to this Privacy Policy are effective when they
          are posted on this page. Your continued access to E PE’s website after
          the Privacy Policy has been modified and posted will signify your
          acceptance of such modifications.
        </p>
        <p>
          If you have any questions about this Privacy Policy, the practices of
          E PE’s website, or your dealings with E PE, please contact us at
          <a href="mailto:care@epeindia.in">care@epeindia.in</a>.
        </p>
      </div>
    </main>
  </body>
</html>
