<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Term's And Conditions</title>
    <link rel="stylesheet" href="/css/termsAndConditions.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="icon" href="/Favicon/ImageAI-522x425.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/responsive.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body>
    <!-- Header Section -->
    <section id="header">
      <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/">
            <img src="/img/epeLogo.gif" width="auto" height="80px" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" data-after="Home">Home</a>
              </li>
              <!-- Add more links here as needed -->
            </ul>
          </div>
        </nav>
      </header>
    </section>

    <!-- Main Content Section -->
    <main class="main-class">
      <div class="terms-conditions-section">
        <h2>Terms and Conditions</h2>
        <p>
          The terms and conditions contained herein (“T&amp;C”) contain the
          complete terms and conditions that apply to a client and govern the
          Client’s access to and use of the Platform (as defined below).
        </p>

        <h3>DEFINITIONS</h3>
        <p>
          Unless repugnant to the context, the terms used in the T&amp;C have
          the following meaning:
        </p>

        <h4>“Client” means:</h4>
        <ul>
          <li>
            In case of an individual, any person who has an account on the
            Platform and entered into a Service Agreement with the Techfin
            Innovations Private Limited to be named with its brand name “E PE”;
            or
          </li>
          <li>
            In case of persons other than individuals, an entity who holds an
            account on the Platform and entered into a Service Agreement with
            the Techfin Innovations Private Limited to be named with its brand
            name “E PE”, and who may access the Platform through its
            representatives or authorised officials.
          </li>
        </ul>

        <h4>“Counterparty” means any person with which the Client:</h4>
        <ul>
          <li>
            enters into any arrangement/contract/agreement with, pursuant to or
            by way of the Services or the Platform; and/or
          </li>
          <li>
            may potentially enter into any arrangement/contract/agreement with,
            by availing the Services on the Platform.
          </li>
        </ul>

        <h4>
          “Force Majeure Event” includes any act, event, non-happening, omission
          or accident beyond the reasonable control of Techfin Innovations
          Private Limited to be named with its brand name “E PE” and includes,
          without limitation, the following events:
        </h4>
        <ul>
          <li>strikes, lock-outs or other industrial action;</li>
          <li>
            riot, invasion, terrorist attack or threat of terrorist attack, war
            (whether declared or not) or threat or preparation for war;
          </li>
          <li>
            fire, explosion, storm, flood, earthquake, subsidence, epidemic or
            other natural disaster;
          </li>
          <li>
            impossibility of the use of public or private telecommunications
            networks or internet services; and
          </li>
          <li>
            the acts, decrees, legislation, regulations or restrictions of any
            government, as may be applicable.
          </li>
        </ul>

        <h4>“E PE” means:</h4>
        <p>
          Techfin Innovations Private Limited to be named with its brand name
          (the “Company”), including its successors and assigns, an Indian
          Private Limited Company registered under the Companies Act, 2013.
        </p>

        <h4>“Platform” means:</h4>
        <p>
          the platform (including sub-platforms) launched by Techfin Innovations
          Private Limited to be named with its brand name “E PE” for offering
          Services to the Client.
        </p>

        <h4>
          “Personal Data” shall have the same meaning as ascribed to the term
          “Sensitive Personal Data or Information” under the Information
          Technology (Reasonable Security Practices and Procedures and Sensitive
          Personal Data or Information) Rules, 2011 (as amended from time to
          time).
        </h4>

        <h4>“Services” means:</h4>
        <p>
          the product or services offered by Techfin Innovations Private Limited
          to be named with its brand name “E PE” through the Platform, including
          but not limited to facilitation, interaction between the Client and
          Counter parties to enable them to enter into transactions, including
          (without limitation) for lending, securitisation, direct assignments,
          investments or any other product or services offered.
        </p>
      </div>

      <div class="acceptance-terms-section">
        <h3>ACCEPTANCE OF TERMS & CONDITIONS</h3>
        <p>
          The Client understands that the access to the Platform and the offer
          of Services is conditional upon the Client’s irrevocable consent and
          acceptance of all the terms, conditions and obligations contained in
          the T&amp;C (as may be amended from time to time). For utilising the
          Services, the Client agrees to enter into or execute any document,
          agreement or terms and conditions which is required by Techfin
          Innovations Private Limited to be named with its brand name “E PE” and
          agrees to abide by such document or agreement or terms and conditions
          while utilising the services on the Platform.
        </p>

        <p>
          By agreeing to the T&amp;C and by availing the Services, the Client
          represents that it is lawfully able to enter into contracts (if an
          individual) or has the legal authority to enter into contracts on
          behalf of the body corporate/company/partnership firms.
        </p>

        <p>
          The Client acknowledges in relation to the Services that Techfin
          Innovations Private Limited to be named with its brand name “E PE” is
          merely providing a platform for facilitating the transactions between
          the Client and the Counterparties on the Platform and shall in no
          manner be liable or responsible for any such transactions or be
          construed as an agent of the Client in relation to the Services.
        </p>

        <p>
          The Client acknowledges and agrees that any use of the Platform and
          the availing of the Services is at the sole risk of the Client.
        </p>

        <p>
          The Client acknowledges and agrees that it is solely responsible for
          its data uploaded to or transmitted through the Platform, as well as,
          the consequences of uploading or transmitting its data onto or through
          the Platform.
        </p>

        <p>
          The Client acknowledges, represents, and warrants that with respect to
          any data posted on or transmitted through the Platform:
        </p>
        <ul>
          <li>
            It has all necessary licenses, rights, consents, and permissions to
            upload, transmit, or publish such data and that it grants Techfin
            Innovations Private Limited to be named with its brand name “E PE”,
            express, irrevocable license and authorization to use such data for
            the Services; and
          </li>
          <li>
            Any use by Techfin Innovations Private Limited to be named with its
            brand name “E PE” of the data uploaded, transmitted, or published by
            it on the Platform will not constitute infringement of any third
            party’s rights, over such data posted or transmitted through the
            Platform.
          </li>
        </ul>

        <p>
          The Client agrees and acknowledges that it is solely responsible to
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” and to any Counterparty for any breach of its obligations under
          the T&amp;C and for the consequences of any such breach (including any
          loss or damage which Techfin Innovations Private Limited to be named
          with its brand name “E PE” may suffer).
        </p>
      </div>

      <div class="use-platform-section">
        <h3>USE OF PLATFORM AND SERVICES</h3>
        <p>
          The Client agrees, undertakes, and declares that it has made its own
          assessment of the Platform and has determined that it is fit for its
          purposes.
        </p>
        <p>
          The Client will be using the Platform at its own risk, irrespective of
          the capacity in which it uses the Platform and it is expressly
          clarified that Techfin Innovations Private Limited to be named with
          its brand name “E PE” shall owe no fiduciary or other duty or
          obligation to the Client other than as expressly agreed in writing by
          Techfin Innovations Private Limited to be named with its brand name “E
          PE”.
        </p>
        <p>
          The Client agrees and acknowledges that any transactions entered into
          through the Platform shall be at the sole discretion of the Client and
          the relevant counterparties on the Platform as applicable and that
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” shall not be liable for any delay, rejection, or approval of any
          application/proposal made through the Platform to any counterparty, or
          any failure on the part of the Client or counterparties to
          settle/conclude any transactions with any counterparty.
        </p>
        <p>
          Without prejudice to the above, the Client hereby agrees,
          acknowledges, and accepts that Techfin Innovations Private Limited to
          be named with its brand name “E PE” may, for the purpose of rendering
          the Services, seek to obtain such necessary and requisite information
          and data as required by it from various authoritative sources
          including but not limited to statutory and regulatory filings, credit
          bureau records, and such other sources as determined by it at its sole
          discretion, as required by it to effectively render the Services and
          the Client hereby accepts and provides consent for the same.
        </p>
        <p>
          On signing of the Service Agreement with Clients, Techfin Innovations
          Private Limited to be named with its brand name “E PE” grants to the
          Client a non-exclusive, limited privilege to access and use the
          Platform and the Services offered on the Platform, subject to
          compliance with the T&C. The account created by the Client for use of
          the Platform shall be is non-transferable and its use is restricted to
          the Client creating the account.
        </p>
        <p>
          The Client is solely responsible for its account and any activity on
          it, and must keep the log-in credentials (log-in ID and password) in
          respect of its account secure at all times. The Client shall not sell,
          transfer, or sub-license the log-in credentials in relation to its
          account on the Platform to any other person. The Client shall ensure
          that only its duly authorised personnel shall access and operate its
          account. The Client undertakes that the Client shall promptly on
          becoming aware of any unauthorized use of its account, notify Techfin
          Innovations Private Limited to be named with its brand name “E PE” of
          such unauthorised use or access.
        </p>
        <p>
          It is expressly understood that Techfin Innovations Private Limited to
          be named with its brand name “E PE” shall not be liable to ensure or
          verify that the usage of the Client’s account is by its authorised
          persons and that the onus of ensuring that only authorised personnel
          access and operate the said account shall, at all times, lies with the
          Client. The Client agrees and acknowledges that failure to notify
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” regarding any such unauthorized use of its account on the Platform
          may attract liability on the Client for any losses/damages caused by
          any unauthorized use of the account.
        </p>
        <p>
          The availing of the Services and the use of Platform is only for
          purposes permitted by the (“T&amp;C”); and any applicable law,
          regulation or generally accepted practices or guidelines and the same
          shall not be for any other illegal or other purpose which is expressly
          or impliedly barred by any applicable law, statute, ordinance or
          regulation in force from time to time.
        </p>
      </div>
      <div class="general-undertakings-section">
        <h3>GENERAL UNDERTAKINGS OF THE CLIENT</h3>
        <p>
          The Client shall not use or attempt to use any unauthorized means,
          including but not limited to, use of any deep link, program, automatic
          device, algorithm or methodology, or any similar processes, or hacking
          to access, utilize, copy or monitor any part/feature of the Platform
          or its content, or avail any Services or in any way reproduce or
          circumvent the source code, structure or layout of the Platform, or
          obtain or attempt to obtain any information not openly available on
          the Platform.
        </p>
        <p>
          The Client undertakes not to attempt to gain any unauthorized access
          to the Platform, the server on which the Platform is hosted or any
          other database, server or computer connected to the Platform.
        </p>
        <p>
          The Client shall not misuse the Services or corrupt or try to corrupt
          the Platform by introducing any bugs, viruses, worms, malware, spyware
          or any similar program which is malicious or harmful.
        </p>
        <p>
          The Client undertakes to ensure that any material/information/data
          uploaded by it on the Platform is strictly of nature and context as
          required by the Platform for the relevant Service, and is not in
          violation of any applicable law.
        </p>
        <ul>
          <li>
            publish, post, upload or distribute files that contain bugs,
            viruses, worms, malware, spyware or any similar program, or
            corrupted files that may disrupt the operation of the Platform or a
            Counterparty’s computer;
          </li>
          <li>
            engage in any activity that disrupts access to the Platform or the
            Services;
          </li>
          <li>
            disrupt or interfere with the security of, or otherwise cause harm
            to, the Platform, accounts, passwords, servers or networks connected
            to or accessible through the Platform;
          </li>
          <li>
            cause any interference or attempt to interfere with the proper
            working of the Platform or any transaction being conducted on the
            Platform, or with any other person’s use of the Platform;
          </li>
          <li>
            upload or distribute files that contain such material which is
            infringing the copyrights, trademarks, confidentiality, privacy or
            any other proprietary information protected by law, unless the
            Client has the rights or the necessary consents thereto;
          </li>
          <li>
            use the Platform or Services for any purpose that is fraudulent,
            unlawful or prohibited by the T&C and by applicable law, or to
            solicit the performance of any illegal activity or other activity
            which infringes the rights of Techfin Innovations Private Limited to
            be named with its brand name “E PE” or any Counterparties;
          </li>
          <li>
            upload or distribute any material or information that is, or
            contains tags or keywords which are, illegal, inappropriate,
            profane, obscene, offensive, abusive, harassing, misleading,
            indecent, defamatory, disparaging, or menacing, or is otherwise
            injurious to Techfin Innovations Private Limited to be named with
            its brand name “E PE” or any Counterparty, or objectionable in any
            manner whatsoever;
          </li>
          <li>
            download any file posted by the Counterparty that the Client should
            know, or reasonably should know, cannot be legally distributed in
            such manner;
          </li>
          <li>
            violate the T&C or any applicable laws or regulations for the time
            being in force;
          </li>
          <li>
            decompose, modify, copy, distribute, transmit, display, perform,
            reproduce, publish, license, create derivative works from, transfer,
            or sell any information or software obtained from the Platform.
          </li>
        </ul>
      </div>
      <div class="confidentiality-section">
        <h3>CONFIDENTIALITY</h3>
        <p>
          The Client acknowledges and agrees that all information, data or
          details in any form with respect to the Platform, its designs,
          structure and arrangement, visual interfaces, specifications,
          documentation, components, source code, object code, images, icons,
          audio-visual components and objects, schematics, drawings, protocols,
          processes, and other visual depictions, in whole or in part in
          addition to all documents, data, papers, statements, any
          business/customer information, trade secrets and process of Techfin
          Innovations Private Limited to be named with its brand name “E PE”
          relating to its business practices or in connection with the provision
          of services by Techfin Innovations Private Limited to be named with
          its brand name “E PE”, trade and business of Techfin Innovations
          Private Limited to be named with its brand name “E PE”, or otherwise,
          any information including names, assets, details, documents,
          transaction records, potential transactions, negotiations, pending
          negotiations, data, applications, software, systems, papers,
          statements, business information, marketing and financial information,
          databases, manuals, records and reports, articles, systems, material,
          sources of material, and any other data pertaining to Counterparties
          and Techfin Innovations Private Limited to be named with its brand
          name “E PE”, available to it through Platform (“Confidential
          Information”) is of a sensitive and confidential nature.
        </p>
        <p>
          The Client undertakes to keep all Confidential Information
          confidential and shall ensure that none of its employees, agents,
          representatives do anything to breach the confidentiality. The Client
          undertakes to use all Confidential Information with such care and
          discretion, but not less than reasonable care, to avoid disclosure,
          publication or dissemination of Confidential Information as it uses
          with its own similar information that it does not wish to disclose,
          publish or disseminate.
        </p>
        <p>The Client may disclose Confidential Information only to:</p>
        <ul>
          <li>
            its employees, representatives, agents or contractors on a ‘need to
            know’ basis and only for the purposes of performance of its
            obligations under the agreement with the Company;
          </li>
          <li>
            the extent required by any regulatory authority or governmental
            authority under applicable law; and
          </li>
          <li>any other party with the Company’s prior written consent.</li>
        </ul>
        <p>The Client agrees:</p>
        <ul>
          <li>
            to take all necessary action to protect the Confidential Information
            against misuse, sale, loss, destruction, deletion and/or alteration;
          </li>
          <li>
            use the Confidential Information only in connection with the
            Services/transaction for which the Confidential Information is
            obtained; and
          </li>
          <li>
            not to misuse or permit misuse directly or indirectly, commercially
            exploit the Confidential Information of Techfin Innovations Private
            Limited to be named with its brand name “E PE” or any other
            Counterparty available to it through the Platform for economic or
            other benefit or in a manner prejudicial to Techfin Innovations
            Private Limited to be named with its brand name “E PE”.
          </li>
        </ul>
      </div>

      <div class="data-protection-section">
        <h3>DATA PROTECTION</h3>
        <p>
          The storage, usage and transmission of all information obtained by it
          through the Platform, shall at all times be in accordance with the
          Information Technology Act, 2000 read with Information Technology
          (Reasonable Security Practices and Procedures and Sensitive Personal
          Data or Information) Rules, 2011 and all other applicable law.
        </p>
        <p>
          In the event Techfin Innovations Private Limited to be named with its
          brand name “E PE” obtains any Personal Data or Confidential
          Information pursuant to any transaction/Services, it shall only
          undertake the processing of Personal Data / Confidential Information
          reasonably required in connection with the performance of its
          obligations under the transaction/Services. In the event any such
          Personal Data and/or Confidential Information is required to be used
          by Techfin Innovations Private Limited to be named with its brand name
          “E PE” for any purpose not expressly set out herein post
          termination/consummation of the transactions/Services contemplated
          hereunder, the same shall take place pursuant to obtaining prior
          consent from the Client in this regard.
        </p>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” shall at all times have appropriate technical and organisational
          measures in place to:
        </p>
        <ul>
          <li>
            prevent unauthorised or unlawful processing of any Personal
            Data/Confidential Information;
          </li>
          <li>
            protect any Personal Data/Confidential Information against
            accidental loss, destruction or damage;
          </li>
          <li>
            ensure the reliability of its employees/contractor having access to
            the Personal Data/Confidential Information;
          </li>
        </ul>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” shall comply with all applicable law, including without limitation
          the Data Protection Laws to safeguard the Personal Data/Confidential
          Information.
        </p>
        <p>
          For the purposes of this clause, Personal Data shall mean the
          personally identifiable information and sensitive personal information
          (as envisaged under the Information Technology Act, 2008, and the
          rules made thereunder, each as amended from time to time), related to
          the underlying customers of the Client to whom credit facilities may
          be extended by the Client.
        </p>
      </div>
      <div class="limitation-liability-section">
        <h3>LIMITATION OF LIABILITY</h3>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” shall not be liable or responsible for:
        </p>
        <ul>
          <li>
            any damage that occurs due to any information provided by the Client
            but not being received by Techfin Innovations Private Limited to be
            named with its brand name “E PE” or any Counterparty or not being
            received promptly or appropriately, as a consequence of technical
            faults with the Platform (whether or not in Techfin Innovations
            Private Limited to be named with its brand name “E PE”’s control);
          </li>
          <li>
            any loss or damage caused by any bugs, viruses, worms, malware,
            spyware or any similar program that may infect the Client’s
            computer, software, data or any other property caused by accessing
            or using the Platform or availing any Services, or from any emails,
            communication or attachment received from Techfin Innovations
            Private Limited to be named with its brand name “E PE” /Platform;
          </li>
          <li>
            any failure to perform, or delay in performance of, any obligations
            or Services by Techfin Innovations Private Limited to be named with
            its brand name “E PE” or any Counterparty due to events outside
            Techfin Innovations Private Limited to be named with its brand name
            “E PE”’s reasonable control;
          </li>
          <li>any breach of the T&C by any Counterparty.</li>
        </ul>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” is not responsible for any indirect losses including, without
          limitation, loss of income, business, profits, data or any injury to
          reputation, howsoever arising.
        </p>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” is not responsible for any liability for any loss, costs or damage
          arising out of or in connection with the use of the Platform or the
          inability to use it or for any delay or failure in the performance of
          the Services on account of the Counterparty or due to any Force
          Majeure Event or any other circumstances beyond the control of Techfin
          Innovations Private Limited to be named with its brand name “E PE”.
        </p>
      </div>
      <div class="transfer-rights-section">
        <h3>TRANSFER OF RIGHTS</h3>
        <p>
          The T&C are binding on the Client, its successors and permitted
          assigns. It may not transfer, assign, charge or otherwise dispose of
          any of its rights, benefits, liabilities or obligations, under the T&C
          without the prior written consent of Techfin Innovations Private
          Limited to be named with its brand name “E PE”.
        </p>
        <p>
          However, Techfin Innovations Private Limited to be named with its
          brand name “E PE” may transfer, assign, sub-contract or otherwise
          dispose of any of its rights, benefits, liabilities or obligations
          under the T&C at any time or may involve or appoint any third party to
          satisfy its obligations, without any necessity to notify the Client.
        </p>
      </div>
      <div class="security-data-section">
        <h3>SECURITY OF DATA</h3>
        <p>
          All facilities used to store data and process the transaction will
          adhere to reasonable security standards, which will be at par with
          Techfin Innovations Private Limited to be named with its brand name “E
          PE”’s security standards for processing and storing its own
          information of a similar nature. Techfin Innovations Private Limited
          to be named with its brand name “E PE” has implemented industry
          standard systems and procedures to ensure the security and
          confidentiality of a transaction and related data, protect the Client
          against anticipated threats or breaches to the security or integrity
          of a transaction and related data, and protect the Client against
          unauthorized access to its data.
        </p>
        <p>
          The Client further acknowledges and agrees that it has granted Techfin
          Innovations Private Limited to be named with its brand name “E PE” the
          permission as well as the non-exclusive right to store and transfer
          its data, as part of the Services.
        </p>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” does not claim any ownership, intellectual property rights or
          other rights whatsoever outside the scope of what is necessary to
          provide the Services.
        </p>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” reserves the right to perform statistical analysis of the activity
          on Platform in order to measure interests in the various sections of
          the Platform for the purpose of product and Service development. Any
          non-personal information such as internet domain, host names, IP
          addresses, clickstream patterns, and the dates and times on which
          Platform is accessed may be recorded for the purpose of analysis. The
          analytical data collected is for internal use only.
        </p>
      </div>
      <div class="intellectual-property-section">
        <h3>INTELLECTUAL PROPERTY</h3>
        <p>
          The Platform and the arrangement and processes thereof, including, but
          not limited to, all text, graphics, user interfaces, visual
          interfaces, and the computer code, source code, object code and is
          owned by Techfin Innovations Private Limited to be named with its
          brand name “E PE”, and the design, structure, and arrangement of
          thereof is protected by copyright, patent and trademark laws, and all
          other applicable intellectual property laws and the Client shall not
          use the aforesaid without the prior written consent of Techfin
          Innovations Private Limited to be named with its brand name “E PE”.
        </p>
        <p>
          The trademarks, logos, and marks displayed on the Platform are the
          property of Techfin Innovations Private Limited to be named with its
          brand name “E PE”, or the property of the Client(s), as the case may
          be. The Client shall not use any trademarks, logos, and marks not
          belonging to it, without the prior consent of Techfin Innovations
          Private Limited to be named with its brand name “E PE”.
        </p>
        <p>
          In the event the Client infringes or attempts to infringe the
          copyrights or other intellectual property rights of Techfin
          Innovations Private Limited to be named with its brand name “E PE”,
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” may, in its sole discretion, deny the Client access to and use of
          the Platform.
        </p>
      </div>
      <div class="modification-tnc-section">
        <h3>MODIFICATION OF T&C</h3>
        <p>
          The Client acknowledges and agrees that Techfin Innovations Private
          Limited to be named with its brand name “E PE” has the right to
          revise, modify, amend or discontinue any of the T&C from time to time
          including without limitation to reflect, inter alia, changes in market
          conditions, technology, requirements, laws etc. and Techfin
          Innovations Private Limited to be named with its brand name “E PE”
          shall not be obligated to obtain any approval/consent of the Client on
          the revised T&C.
        </p>
        <p>
          The Client is deemed to be aware of the latest T&C and the use of
          Platform and the availing of the Services is subject to the most
          current version of the T&C available on the Platform at the time of
          such use. The use of Platform and Services subsequent to any
          modification in the T&C will constitute the Client’s acceptance of the
          modification.
        </p>
      </div>
      <div class="temporary-suspension-section">
        <h3>TEMPORARY SUSPENSION AND TERMINATION</h3>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” does not guarantee uninterrupted access to the Platform. The
          access to Platform or the Services may be disrupted:
        </p>
        <ul>
          <li>on the occurrence of Force Majeure Event;</li>
          <li>
            for the purposes of repair, maintenance, upgrading or for other
            similar activities, Techfin Innovations Private Limited to be named
            with its brand name “E PE” undertakes to take all reasonable
            measures to minimize any such periods during which the Platform and
            the Services are unavailable and shall put best effort in resuming
            the Services and the Platform.
          </li>
          <li>
            on the event of non-payment to the Company, as per the agreement,
            for a period of 90 days from the due date.
          </li>
        </ul>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” shall not be responsible or liable for any losses or damages
          suffered due to any of the events specified above due to the
          suspension of Services or due to the inability to cure such events.
        </p>
        <p>
          In the event of a system failure due to any unforeseeable
          circumstances or disruption, the access to Platform and Services may
          be temporarily suspended and no information may be accepted during
          such suspension.
        </p>
        <p>
          All provisions of the T&C, which by their nature should survive
          termination, shall survive termination, including, without limitation,
          ownership, warranty, limitations of liability, confidentiality,
          disclaimers, indemnity.
        </p>
      </div>
      <div class="disclaimer-of-warranties-section">
        <h3>DISCLAIMER OF WARRANTIES</h3>
        <p>
          The Client uses the data and/or the Services through the Platform at
          its own discretion and risk and Techfin Innovations Private Limited to
          be named with its brand name “E PE” is not responsible for the
          accuracy, usefulness, safety of or relating to such data and the
          Client assumes all liability for its use.
        </p>
        <p>
          Unless expressly agreed otherwise in writing, Techfin Innovations
          Private Limited to be named with its brand name “E PE” will not be
          involved in any interactions between the Client and the Counterparties
          on the Platform or in connection with the Services. These interactions
          are solely between the Client and the Counterparties and Techfin
          Innovations Private Limited to be named with its brand name “E PE”
          merely provides a common platform to facilitate such transactions.
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” is not responsible or liable for any loss or damage of any sort
          incurred as the result of any such dealings or interactions.
        </p>
        <p>
          Techfin Innovations Private Limited to be named with its brand name “E
          PE” is not obligated to be involved in or facilitate the resolution of
          any dispute between the Client and the Counterparties on the Platform.
          The Client hereby releases Techfin Innovations Private Limited to be
          named with its brand name “E PE”, its employees, agents, and
          associates from any claims, demands, and damages, arising out of or in
          any way related to such disputes. Without prejudice to the above, the
          Client hereby waives any legal or equitable rights or remedies that it
          may possess against Techfin Innovations Private Limited to be named
          with its brand name “E PE” in relation to the dispute.
        </p>
      </div>
      <div class="indemnification-section">
        <h3>INDEMNIFICATION</h3>
        <p>
          The Client hereby agrees to indemnify and hold harmless Techfin
          Innovations Private Limited to be named with its brand name “E PE”
          (including its directors, employees, representatives, and agents) from
          time to time, against any and all losses, liabilities, obligations,
          damages, judgments, costs, expenses (including, without limitation,
          advisors’ fees), claims, fines, penalties, proceedings, actions, or
          demands, of any kind or nature incurred by Techfin Innovations Private
          Limited to be named with its brand name “E PE” /caused to Techfin
          Innovations Private Limited to be named with its brand name “E PE” on
          account of Client’s use of the Platform or the Services, including but
          not limited to the violation of the T&C.
        </p>
      </div>
      <div class="governing-law-section">
        <h3>GOVERNING LAW AND JURISDICTION</h3>
        <p>
          The T&C are governed and construed in accordance with the laws of
          India and the Client hereby submits themselves to the exclusive
          jurisdiction of courts and tribunals at Mumbai, India. The Client
          irrevocably waives any objection it may have now or in the future to
          the choice of courts and tribunal of Mumbai, India as an inconvenient
          forum.
        </p>
      </div>
      <div class="severability-section">
        <h3>SEVERABILITY</h3>
        <p>
          Every provision contained in the T&C shall be severable and distinct
          from every other provision and if at any time any one or more of such
          provisions is or becomes invalid, illegal or unenforceable, the
          validity, legality and enforceability of the remaining provisions
          hereof shall not be in any way affected or impaired thereby.
        </p>
      </div>
      <div class="waivers-section">
        <h3>WAIVERS</h3>
        <p>
          Neither the failure to exercise nor any delay in exercising any right,
          power, privilege or remedy under the T&C shall in any way impair or
          affect the exercise thereof or operate as a waiver thereof in whole or
          in part.
        </p>
        <p>
          No single or partial exercise of any right, power, or privilege under
          the T&C shall prevent any further or additional exercise of that or
          any other right, power, or privilege.
        </p>
      </div>
      <div class="miscellaneous-section">
        <h3>MISCELLANEOUS</h3>
        <p>
          When you browse the Techfin Innovations Private Limited to be named
          with its brand name “E PE” website, we use cookies and/or pixel tags
          to collect information and store your online preferences. Cookies are
          widely used and most browsers are set up to accept them automatically.
          If you would prefer, you can choose to not accept cookies. It is
          important to note that cookies and pixel tags do not capture any
          information that can personally identify you.
        </p>
        <p>
          Based on your interaction with the Techfin Innovations Private Limited
          to be named with its brand name “E PE” website, we may communicate
          with you on third party channels including but not limited to for the
          purpose of promotion, marketing our wide range of products. Such
          communication may contain cookies that allow monitoring of websites
          (including our own websites that are part of our own Services) and
          your response to our communications. Cookies placed by these channels
          do not collect Personal Information.
        </p>
        <p>If you would prefer not to accept cookies, you can:</p>
        <ul>
          <li>
            Change your browser settings to notify you when you receive a
            cookie, which lets you choose whether or not to accept it.
          </li>
          <li>Set your browser to automatically not accept any cookies.</li>
        </ul>
      </div>
    </main>
    <main class="site-main">
      <div
        class="container-fluid bg-primary text-light footer wow footer-area"
        data-wow-delay="0.1s"
      >
        <div class="container py-5 mx-6">
          <div class="row g-5">
            <!-- Column for Image and Social Icons -->
            <div class="col-md-6 col-lg-3">
              <!-- Image main -->
              <img src="/img/iso.png" width="300px" height="150px" />

              <!-- Social Icons main (moved below the image) -->
              <div class="d-flex pt-4">
                <a
                  class="btn btn-outline-light btn-social"
                  href="https://x.com/EPE_FINTECH"
                >
                  <i class="fab fa-twitter"></i>
                </a>
                <a
                  class="btn btn-outline-light btn-social"
                  href="https://www.facebook.com/profile.php?id=61554840600572"
                >
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a
                  class="btn btn-outline-light btn-social"
                  href="https://www.instagram.com/epe.fintech/"
                >
                  <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-outline-light btn-social" href="">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
            <div class="col-md-1"></div>

            <!-- Quick Links Column -->
            <div class="col-md-6 col-lg-2">
              <h4 class="text-white mb-4">Quick Link</h4>
              <a class="btn btn-link" href="/#About">About Us</a>

              <a class="btn btn-link" href="/#Services">Services</a>
              <a class="btn btn-link" href="">PiggyBox</a>
            </div>

            <!-- Popular Links Column -->
            <div class="col-md-6 col-lg-3">
              <h4 class="text-white mb-4">Popular Link</h4>
              <a class="btn btn-link" href="/privacyPolicy">Privacy Policy</a>
              <a class="btn btn-link" href="/termsAndConditions"
                >Terms & Condition</a
              >
              <a class="btn btn-link" href="/userAgreement">User Agreement</a>
            </div>

            <!-- Newsletter Column -->
            <div class="col-md-6 col-lg-3">
              <h4 class="text-white mb-4">Newsletter</h4>
              <p>
                "Stay ahead in the financial world with our expert insights,
                market updates, and investment tips. Subscribe to our newsletter
                for exclusive access to the latest trends, personal finance
                advice, and strategies to grow your wealth and secure your
                financial future."
              </p>
              <div class="position-relative w-100 mt-3">
                <input
                  class="form-control border-0 rounded-pill w-100 ps-4 pe-5"
                  type="text"
                  placeholder="Your Email"
                  style="height: 48px"
                />
                <button
                  type="button"
                  class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"
                >
                  <i class="fa fa-paper-plane text-primary-gradient fs-4"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer Bottom main -->
        <div class="container px-lg-5">
          <div class="copyright">
            <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; 2024 by Techfin Innovations Private Limited, All Right
                Reserved. Created with ❤️ in INDIA
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
