/* Custom styles for dropdown */
.custom-popup-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  white-space: nowrap; /* Prevent text from wrapping */
  margin-bottom: 5px;
}

.custom-sub-popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  white-space: nowrap; /* Prevent text from wrapping */
}

.custom-links {
  
 
  font-size: 14px;
  margin-left: 10px; /* Add space before "Login | Register" */
}

/* Custom dropdown styles */
.custom-dropdown-menu {
  min-width: 320px; /* Adjust width as needed */
  padding: 2px; /* Remove default padding */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden; /* Prevent overflow */
}

/* Custom card container to avoid conflict with Bootstrap */
.custom-card-container {
  width: 95%;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 20px; /* Ensure there is enough padding */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  overflow: hidden; /* Prevent overflow */
  margin: 5px ; /* Center card inside dropdown */
}

/* Flexbox styling to align elements */
.custom-popup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Responsive styles */
@media (max-width: 576px) { /* Adjust for mobile view */
  .custom-dropdown-menu {
    min-width: 90vw; /* Use 90% of the viewport width */
    left: 5%; /* Center the dropdown */
    transform: translateX(0); /* Reset transformation */
  }

  .custom-card-container {
    padding: 15px; /* Adjust padding for smaller screens */
    margin: 5px ; /* Adjust margin to center content properly */
  }
}
