<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KYC Dashboard</title>
    <link rel="stylesheet" href="/css/UserDashboard/dashboard.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--  custom css file  -->

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="icon" href="/Favicon/ImageAI-522x425.ico" type="image/x-icon" />
  </head>
  <body>
    <!-- Header -->
    <section id="header">
      <header class="header_area">
        <div class="main-menu">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
              <img src="/img/epeLogo.gif" width="auto" height="80px" alt="" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/" data-after="Home">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/piggyBox" data-after="PiggyBox">Piggy Box </a>
                </li>
                <button class="logout-button" id="logout-button">Logout</button>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    </section>

    <!-- KYC Dashboard -->
    <section class="home show">
      <div class="dashboard_container">
        <center>
          <h4 id="userName">User Name</h4>
          <div class="status_card" id="incompleteKyc">
            <i class="uil uil-file-alt status_icon"></i>
            <h3>Incomplete KYC</h3>
          </div>
          <div class="status_card" id="completeKyc">
            <i class="uil uil-check-circle status_icon"></i>
            <h3>Complete KYC</h3>
          </div>
          <div class="status_card" id="pendingKyc">
            <i class="uil uil-clock status_icon"></i>
            <h3>Pending KYC</h3>
          </div>
          <div class="status_card" id="rejectedKyc">
            <i class="uil uil-times-circle status_icon"></i>
            <h3>Rejected KYC</h3>
          </div>
          <div class="status_bar" id="status-bar">
            <span id="status-text">Status: Processing...</span>
          </div>
          <button class="button" id="completeKycButton" style="background-color: #00056B; ">Complete KYC</button>
        </center>
      </div>
    </section>

    <script src="/js/UserDashboard/dashboard.js"></script>
    <script src="/js/Utils/utils.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
