/* KYC Form Page CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}

.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("/assets/UserAuthentication/bg.jpg");
  background-size: cover;
  background-position: center;
  overflow-y: auto; /* Make the form scrollable */
}

.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

.form_container {
  position: fixed;
  max-width: 800px;
  width: 90%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Make the container scrollable */
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.input_box,
.file_input_box {
  position: relative;
  margin-top: 20px;
  width: 100%;
}
.input_box i.user,
.input_box i.phone,
.input_box i.email,
.input_box i.calendar,
.input_box i.map-marker,
.input_box i.id-card,
.input_box i.briefcase,
.input_box i.card-atm,
.input_box i.credit-card {
  left: 0;
}

@media (min-width: 768px) {
  .input_box,
  .file_input_box {
    width: calc(50% - 10px); /* Two fields per row on larger screens */
  }
}

.input_box input,
.file_input_box input {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.file_input_box label {
  font-size: 14px;
  color: #707070;
}

.input_box input:focus,
.file_input_box input:focus {
  border-color: #7d2ae8;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}

.kyc_form {
  text-align: center;
}
