<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agreement</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/Kyc/userKycAgreement.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header text-center">
              <h4>Agreement</h4>
            </div>
            <div class="card-body">
              <p>
                By clicking "Accept," you agree to the terms and conditions of
                our service. You acknowledge that you have read and understood
                the agreement, and you consent to the use of your information as
                described in the document.
              </p>
              <p>
                Please ensure you have reviewed all the details carefully. If
                you have any questions, contact our support team before
                proceeding.
              </p>
              <button id="acceptButton" class="btn btn-primary btn-block">
                Accept
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/Kyc/userKycAgreement.js"></script>
    <script src="/js/Utils/utils.js"></script>
  </body>
</html>
