* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(45deg, #056ce2, #1101a1);
    padding: 10px 0;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.btn-responsive {
    border: 1px solid white;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 6px;
}

.btn-responsive:hover {
    background-color: #1C4D86;
    transform: scale(1.02);
}

.dashboard-body {
    background: #EEEEEE;
    padding-top: 20px;
}

.sidebar-menu {
    width: 150px;
    background: linear-gradient(92deg, #525253, #6e7071);
    color: white;
    border-bottom: 2px solid white;
    padding: 5px 10px;
    font-weight: 600;
}

.sidebar-menu:hover {
    background: white;
    color: #3187EC;
    border-left: 2px solid #3187EC;
    transform: scale(1.02);
}

a {
    text-decoration: none;
}

.piggybox-heading {
    background: linear-gradient(#3187EC, #1C4D86);
    border-radius: 13px 13px 0 0;
    margin-bottom: 7px;
}

.footer-content {
    text-align: center;
    padding: 10px 0;
}

/* Responsive Styles */
@media(max-width:576px) {
    .header-containt, .body-containt, .sidebar-menu {
        flex-direction: column;
    }
    .btn-responsive {
        font-size: 16px;
    }
}
